header.header 
    .container-fluid
        .row.align-items-center 
            .col-3 
                .inner-logo 
                    a(href="/admin/dashboard") ADMIN
                        //- img(src="/images/LumenPathLogo01.png", alt="Logo")
            
            .col-9 
                