.sider 
    .inner-menu     
        ul 
            li 
                a(href=`${prefixAdmin}/dashboard`) Overview 
            li 
                a(href=`${prefixAdmin}/product-categories`) Product catalog
            li 
                a(href=`${prefixAdmin}/products`) Products 
            
            